.footer_outer_container{
    background-color: #111;
    width: 90%;
    margin: 0 auto;
    color: gray;
    padding-top: 40px;
    align-items: center;
    /* justify-content: center;  */

}

.footer_inner_container {
    width:80%;
}
.footer_data{
    display: flex;
    justify-content: space-between;
    
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    padding-top: 20px;
    text-decoration: underline;


}
.footer_data ul li{
    cursor: pointer;
    padding: 10px 0;
}
.service_code  {
    padding-top: 60px;
}
.service_code p{
    border: #fff 2px solid;
    width: 90px;
    margin: 10px;
    padding: 3px; 
    cursor: pointer;
    text-align: center; 
}
.copy_write{
    font-size: 12px;
    margin-bottom: 20px;
}
.footer_icons{
    display: flex;
    justify-content: space-between;
    width: 15%;
    color: #fff;
    align-items: center;
    gap: 20px;
    cursor: pointer;

}
@media (max-width:768px)
{
  .footer_outer_container {
    width:90%;
  } 
  .footer_data{
    flex-direction: column;
    padding: 10px 0;

  }
  .footer_link ul{
    display: flex;
    flex-direction: column;
   

  }
}